/* 
Site: https://www.happyhues.co/palettes/3 
*/

/* Elements--------------------------------------- */

.canvas {
  background-color: #90b4ce;
  border-radius: 20px;
  width: 100%;
  max-width: 900px;
  display: block;
  margin: auto;
}

.body {
  background-color: #fffffe;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #3da9fc;
}

.button-text {
  background-color: #fffffe;
}

.headline {
  background-color: #094067;
}

.paragraph {
  background-color: #5f6c7b;
}

/* Illustration--------------------------------------- */
.stroke {
  background-color: #094067;
}

.main {
  background-color: #fffffe;
}

.secondary {
  background-color: #90b4ce;
}

.tertiary {
  background-color: #ef4565;
}

.highlight {
  background-color: #3da9fc;
}
